.index {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin between items in flex container
    gap: 20px;
}